@media (max-width: 1200px) {
    .header__bottom {
        display: none;
    }
    .header__user-like , .header__user-panel {
        display: none;
    }
    .header__logo {
        left: 0px;
    }
    .header__burger {
        display: block;
    }
    .header__furfur {
        display: none;
    }
}
@media (max-width: 900px) {
    /*.grid__box {
        display: flex;
        justify-content: center;
    }*/
    .category__block {
        flex-direction: column;
    }
    .category__box {
        max-width: 100%;
        width: 100%;
    }
    .category_2 {
        height: 850px;
    }
}
@media (max-width: 850px) {
    .row {
        flex-direction: column;
    }
}
@media (max-width: 800px) {
    .banner__box {
        height: 350px;
    }
    
    .banner__item-block {
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }
}
@media (max-width: 600px) {
    .category_2 {
        height: 600px;
    }
}
@media (max-width: 500px) {
    .bigbaner__block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .bigbanner__flexbox {
        flex-direction: column;
    }
}
@media (max-width: 400px) {
    .banner__title {
        display: none;
    }
    .gallery__item-link {
        max-width: 100px;
    }
}