.page {
    background-color: #fafafa;
    margin-bottom: 100px;
    background-image: url("../image/1920x1080_leaves-plant-aerial-view-green.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 500ms;
}
.page__block {
    text-align: left;
}
.page__title {
    margin: 0;
    font-size: 35px;
    color: #FFF;
}
.page__box {
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
}
.page__home-link {
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}
.page__line {
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}
.page__text {
    color: #FFF;
    padding-left: 5px;
    padding-right: 5px;
}
.form {
    padding-bottom: 100px;
}
.form__block {
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.page__container {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #35353589;
    backdrop-filter: blur(2px);
}
.form__form {
    padding: 50px;
    width: 45%;
    border: 3px solid #f1f1f1;
}
.form__name {
    text-align: center;
    font-weight: 600;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-bottom: 3px solid #000;
}
.form__text {
    font-weight: 600;
    font-size: 15px;
    color: #5a5a5a;
}
.form__link-help {
    color: #000;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 3px solid #000;
}
.form__input {
    width: 100%;
    display: block;
    padding: 10px;
    border: 3px solid #f8f7f7;
}
.form__box {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.form__remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__checkbox {
}
.form__help {
}
.form__link-help {
}
.form__button {
    width: 100%;
    display: block;
    padding: 10px;
    margin-top: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
}
.form__login-button {
    color: #FFF;
    background-color: #000;
}
.form__reg-button {
    background-color: #bbb;
    color: #FFF;
    
}